body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 0.875rem !important;
}